

.card {
    border: 1px solid black;
    padding: 12px;
    margin-bottom: 5px;

    height: 20px;
    width: 200px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}