.bg-dark {
  background-color: #1f1d36;
}

.bg-light {
  background-color: #eeeeee;
}

.txt-light {
  color: #292929;
}

.txt-dark {
  color: #f1f1f1;
}
.btn {
  padding: 1rem 1.33rem;
  border: none;
  border-radius: 8px;
}
.btn-dark {
  background-color: #005f5f;
}
.btn-light {
  background-color: #88e0ef;
}
.container {
  width: 500px;
  height: 500px;
  /* display: flex;
    flex-direction: column; */
}
